/*========================================
  GENERAL STYLES
  ========================================*/
  
body {
  background: #fff;
  color: #222;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 1em;
}
body.index {
  background: #bd4a57;
}

div, form, 
input[type="text"], 
input[type="password"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:not(.title), a:not(.title):visited {
  color: #81835c;
  
}
a:not(.title):hover {
  color: #aeb37e;
  text-decoration: underline;
}
a:not(.title):active {
  color: #cfd3a7;
}

h1 {
  color: #666;
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 1em;
}

p {
  margin-top: 1.5em;
}
p:first-child {
  margin-top: 0;
}

input[type="text"], 
input[type="password"] {
  padding: 5px;
}
button,
input[type="submit"] {
  background-color: #aeb37e;
  background: -webkit-linear-gradient(top, #aeb37e, #81835c);
  border: 1px solid #81835c;
  border-radius: 4px;
  color: #fff;
  margin-top: 10px;
  padding: 6px 12px;
  text-shadow: 1px 1px 2px #666;
}
button:hover,
input[type="submit"]:hover {
  background: -webkit-linear-gradient(top, #cfd3a7, #aeb37e);
}
button:active,
input[type="submit"]:active {
  background: #81835c;
  box-shadow: inset 0px 2px 5px #666;
}

/* Clearfix from HTML5 Boiler Plate
 * Source: http://github.com/h5bp/html5-boilerplate
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/*========================================
  LOGIN/REGISTER FORM
  ========================================*/

.title {
  color: #fff;
  font-family: 'Sacramento', 'Georgia', serif;
  line-height: 40px;
  padding-top: 10px;
}

body.index .title {
  font-size: 2.5em;
  line-height: normal;
  margin: 15% auto 0 auto;
  width: 350px;
}

.form-box {
  background: #fff;
  border-radius: 15px;
  display: block;
  margin: 50px auto;
  padding: 30px;
}

#login-form {
  margin-top: -5px;
  width: 350px;
}
  #login-form input[type="text"], 
  #login-form input[type="password"] {
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }
  #login-form input[type="submit"] {
    margin-right: 3px;
  }

#register-form {
  width: 450px;
}
  #register-form label {
    display: inline-block;
    width: 36%;
  }
  #register-form input[type="text"],
  #register-form input[type="password"],
  #register-form select {
    margin-bottom: 10px;
    width: 63%;
  }

/*========================================
  HEADER
  ========================================*/

header {
  background: #bd4a57;
  border-bottom: 1px solid #900;
  height: 50px;
  padding: 0 20px;
}

header .title {
  display: inline-block;
  float: left;
  font-size: 2em;
}

nav ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
  nav ul li {
    display: inline-block;
    margin: 0;
  }
    nav ul li a {
      background: #ddd;
      border-color: #900;
      border-radius: 8px 8px 0 0;
      border-style: solid;
      border-width: 1px 1px 0 1px;
      display: inline-block;
      line-height: 41px;
      margin-top: 8px;
      padding: 0 20px;
    }
    nav ul li a.current {
      background: #fff;
      line-height: 42px;
    }

#user {
  display: inline-block;
  float: right;
  line-height: 50px;
  margin-left: 20px;
}
  #user img {
    border: 1px solid #333;
    margin-right: 6px;
    vertical-align: middle;
  }
  #user a {
    color: #cfd3a7;
  }
  #user a:hover {
    color: #ddd;
    text-decoration: underline;
  }
  #user a:active {
    color: #fff;
  }

/*========================================
  MAIN CONTENT
  ========================================*/

#main-content {
  clear: both;
  padding: 20px;
}

p.question {
  font-style: italic;
  margin-bottom: 0.5em;
}