/*========================================
  GENERAL STYLES
  ========================================*/
  
body {
  background: #fff;
  color: #333;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 1em;
}
body.index {
  background: #bd4a57;
}

div, form, 
input[type="text"], 
input[type="password"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:not(.title), a:not(.title):visited {
  color: #81835c;
  
}
a:not(.title):hover {
  color: #aeb37e;
}
a:not(.title):active {
  text-decoration: underline;
}

h1 {
  color: #666;
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 1em;
}

p {
  margin-top: 1.5em;
}
p:first-child {
  margin-top: 0;
}

input[type="text"], 
input[type="password"] {
  padding: 5px;
}
input[type="submit"] {
  margin-top: 10px;
  padding: 5px 8px;
}

/* Clearfix from HTML5 Boiler Plate
 * Source: http://github.com/h5bp/html5-boilerplate
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/*========================================
  LOGIN/REGISTER FORM
  ========================================*/

.title {
  color: #fff;
  font-family: 'Georgia', serif;
  line-height: 50px;
}

body.index .title {
  font-size: 2.2em;
  line-height: normal;
  margin: 15% auto 0 auto;
  width: 350px;
}

.form-box {
  background: #fff;
  border-radius: 15px;
  display: block;
  margin: 50px auto;
  padding: 30px;
}

#login-form {
  margin-top: 15px;
  width: 350px;
}
  #login-form input[type="text"], 
  #login-form input[type="password"] {
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }

#register-form {
  width: 450px;
}
  #register-form label {
    display: inline-block;
    margin-bottom: 15px;
    width: 40%;
  }
  #register-form input[type="text"],
  #register-form input[type="password"],
  #register-form select {
    width: 57%;
  }

/*========================================
  HEADER
  ========================================*/

header {
  background: #bd4a57;
  height: 50px;
  padding: 0 20px;
}

header .title {
  display: inline-block;
  float: left;
  font-size: 1.8em;
  line-height: 50px;
}

nav ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
  nav ul li {
    display: inline-block;
    margin: 0;
  }
    nav ul li a {
      background: #ddd;
      border-radius: 8px 8px 0 0;
      display: inline-block;
      line-height: 40px;
      margin-top: 10px;
      padding: 0 20px;
    }
    nav ul li a.current {
      background: #fff;
    }

/*========================================
  MAIN CONTENT
  ========================================*/

#main-content {
  clear: both;
  padding: 20px;
}

p.question {
  font-style: italic;
  margin-bottom: 0.5em;
}